[submodule "bundle/vim-arpeggio"]
	path = bundle/vim-arpeggio
	url = https://github.com/kana/vim-arpeggio.git
[submodule "molokai"]
	path = molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "bundle/nerdtree-ag"]
	path = bundle/nerdtree-ag
	url = git@github.com:taiansu/nerdtree-ag.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/omnisharp-vim"]
	path = bundle/omnisharp-vim
	url = git@github.com:OmniSharp/omnisharp-vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "bundle/deoplete.nvim"]
	path = bundle/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "bundle/deoplete-go"]
	path = bundle/deoplete-go
	url = git@github.com:zchee/deoplete-go.git
[submodule "bundle/vim-easyclip"]
	path = bundle/vim-easyclip
	url = git@github.com:svermeulen/vim-easyclip.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
